<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jushan.platform.modules.parking.mapper.ParkingZoneMapper">

    <select id="selectListByLotId" resultType="com.jushan.platform.modules.parking.entity.ParkingZone">
        SELECT *
        FROM parking_zone
        WHERE lot_id = #{lotId}
          AND deleted_at IS NULL
        ORDER BY level, created_at DESC
    </select>

</mapper>
